<h1>パスワードリセットフォーム</h1>

<p>下のURLをクリックしてパスワードの再設定を行なってください。</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクの有効期限は2時間となっております。</p>

<p>
  リンクが切れていた場合、再度パスワードリセットフォームからリセットの申請を行なってください。
</p>

<p>
  なお、このメールを知らない場合は削除して頂きますよう、よろしくお願いします。

  /////////////////////////////////
  みんおべ！サポートセンター

  Email minobe@example.com
  /////////////////////////////////
</p>
