<% provide(:title, "みんおべ！とは") %>
<section>
  <article class="about">
    <h1>みんおべ！とは</h1>
    <p>
      「みんなが作ったお弁当を共有するサイト」<br />
      略して「みんおべ！」を閲覧していただき、誠にありがとうございます。<br />
      なぜ、このポートフォリオを作成したのか、どのような機能の実装を行ったのか等、順を追って説明させて頂きます。
    </p>
    <h1>なぜ、このサイト(ポートフォリオ)を作成したのか</h1>
    <p>
      なぜ、このサイトを作ったのかなのですが、中学高校とお昼ご飯は毎日母が作ってくれたお弁当でした。<br />
      どのような忙しい時でも作ってくれた事に感謝はしているのですが、日々のお弁当の努力は誰にも分からないのでは無いかと思いました。<br />
      そこで、その時に考えたのは、サイトを立ち上げてそこにお弁当の出来栄えや努力したことを報告できたらいいのでは無いかと思いこのサイトを作成しました。
    </p>
    <h1>機能の実装</h1>
    <p>どのような機能の実装を行ったのかを以下にまとめてみました</p>
    <article class="list">
    <h1>a</h1>
    <p>b</p>
    <h1>a</h1>
    <p>b</p>
    <h1>a</h1>
    <p>b</p>
    <h1>a</h1>
    <p>b</p>
    <h1>a</h1>
    <p>b</p>
    <h1>a</h1>
    <p>b</p>
    </article>
  </article>
</section>
