<% provide(:title, "Home") %>
<section>
  <h1 class="new-posts-baner">みんなのお弁当新着情報</h1>
  <div class="new-posts">
    <%= image_tag("photo1.jpeg", :alt => "photo1.jpeg", class: "top-img") %>
    <h1 class="posts-title"></h1>
    <p class="posts-description"></p>
  </div>
</section>
