<% provide(:title, "Home") %>
<section>
  <% if logged_in? %>
  <div class="baner">
    <h1 class="new-posts-baner">みんなのお弁当新着</h1>
  </div>
    <%= render 'shared/feed' %>
</section>
<section>
  <div class="baner">
    <h1 class="new-posts-baner">投稿フォーム</h1>
  </div>
    <div class="row">
        <div class="micropost_form">
          <%= render 'shared/micropost_form' %>
        </div>
    </div>
  <% else %>
    <div class="before-toppage">
      <%= image_tag("photo1.jpeg", :alt => "photo1.jpeg") %>
      <h1 class="title">一緒にお弁当を共有してみませんか？</h1>
      <%= link_to "新規登録", signup_path, id: "a_invalid", class: "signup-link" %>
    </div>
  <% end %>
</section>
