<% provide(:title, "Home") %>
<section>
  <div class="baner">
    <h1 class="new-posts-baner">みんなのお弁当新着情報</h1>
  </div>
  <div class="new-photos">
    <%= image_tag("photo1.jpeg", :alt => "photo1.jpeg", class: "top-img") %>
    <h1 class="posts-title"></h1>
    <p class="posts-description"></p>
  </div>
  <div class="new-text">
    <h1 class="new-title">テストお弁当</h1>
    <div class="create-date">投稿:2019年1月1日</div>
    <div class="new-description">
      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    </div>
  </div>
</section>
