footer{
    font-size: 80%;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #313131;
    margin-top: auto;
}
footer address{
    color: #fff;
    letter-spacing: 5px;
}
