.baner{
  margin: 10px;
}

.top-img{
  width: 150px;
  height: 150px;
}

.new-photos{
  float: left;
}

.new-title{
  font-size: 20px;
  padding-bottom: 10px;
}

.new-posts-baner{
  font-size: 25px;
  border: 1px #13938B solid;
  padding: 10px;
}
