<header id="header">
  <div id="main-title">
    <p class="header-title">みんおべ！</p>
    <div class="header-subtitle">
      <p>努力して作ったお弁当を共有するサイト</p>
    </div>
  </div>
  <nav>
    <ul class="header-list">
      <li><a href="#">ホーム</a></li>
      <li><a href="#">利用規約</a></li>
      <li><a href="#">投稿一覧</a></li>
      <li><a href="#">新規登録</a></li>
    </ul>
  </nav>
</header>
